Base styles
body {
   font-family: 'Arial', sans-serif;
   background-color: #f4f4f9;
   margin: 0;
   padding: 0;
}

.container-wrapper {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}

.info-container {
   width: calc(50% - 1.0rem); /* 나머지 여백 고려하여 계산 */
   height: 100%;
}

.reservation-container {
   width: calc(50% - 1.0rem); /* 나머지 여백 고려하여 계산 */
   height: 100%;
}

/* Title styles */
.text-xl {
   font-size: 1.5rem;
   margin-bottom: 20px;
}

.text-center {
   text-align: center;
}

.text-bold {
   font-weight: bold;
}

/* List styles */
.info-list {
   list-style: none;
   padding: 3px;
}

.info-list li {
   padding: 10px 0;
   border-bottom: 1px solid #e7e7e7;
}

.info-list li:last-child {
   border-bottom: none;
}

.font-semibold {
   font-weight: 600;
}

.text-gray-900 {
   color: #333;
}

/* Value styles */
.value {
   display: block;
   margin-top: 6px;
   margin-left: 5px;
}
.icon {
   margin-right: 5px;
   font-size: 15px;
   margin-top: 4.5px;
   border-radius: 8px;
   background-color: #fff;
}
.icon_reserve {
   margin-right: 5px;
   margin-top: 5px;
   font-size: 16px;
}

/* Responsive styles */
@media (max-width: 600px) {
   .container {
      width: 95%;
      padding: 10px;
   }

   .text-xl {
      font-size: 1.25rem;
   }
}

.button {
   padding: 0.5rem;
   width: 100%; /* 가로 길이 최대 */
   background-color: #eac7b2;
   color: black;
   border-radius: 0.375rem;
   transition: background-color 0.3s ease;
   border: none;
   cursor: pointer;
   font-size: 1rem;
}

.button-container {
   display: flex;
   justify-content: flex-end;
   margin-top: 1rem;
}

.reserve-button:hover {
   background-color: #d0baba;
}

